<div id="nvbar_heading-1">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="{% url 'homepage' %}" style="font-family: 'Open Sans', sans-serif;"><img src="/static/img/Logo%20Small.png" style="max-width: 138px;max-height: 97px;margin-bottom: -41px;margin-top: -50px;"></a><button data-toggle="collapse" class="navbar-toggler"
                data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" href="{% url 'homepage' %}" style="font-family: 'Open Sans', sans-serif;margin-top: -6px;">Home</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" href="{% url 'sense' %}" style="font-family: 'Open Sans', sans-serif;margin-top: -6px;">Sense an ingredient</a>
                      </li>
                </ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="tel:131126" style="background-color: rgb(238,79,79);">SOS</a></span></div>
        </div>
    </nav>
</div>
