<!DOCTYPE html>
{% load static %}
<html lang="=en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Ingredient Information</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{% static "fonts/font-awesome.min.css"%}">
    <link rel="stylesheet" href="{% static "fonts/ionicons.min.css"%}">
    <link rel="stylesheet" href="{% static "css/-Team-Rotating-Cards-BS4-.css"%}">
    <link rel="stylesheet" href="{% static "css/3D_CSS_PROGRESS_BAR_BY_REDSTAPLER-1.css"%}">
    <link rel="stylesheet" href="{% static "css/3D_CSS_PROGRESS_BAR_BY_REDSTAPLER.css"%}">
    <link rel="stylesheet" href="{% static "css/best-carousel-slide.css"%}">
    <link rel="stylesheet" href="{% static "css/circle-progress-bar.css"%}">
    <link rel="stylesheet" href="{% static "css/Features-Blue.css"%}">
    <link rel="stylesheet" href="{% static "css/Features-Boxed.css"%}">
    <link rel="stylesheet" href="{% static "css/Features-Clean.css"%}">
    <link rel="stylesheet" href="{% static "css/Footer-Basic.css"%}">
    <link rel="stylesheet" href="{% static "css/Footer-Dark.css"%}">
    <link rel="stylesheet" href="{% static "css/Google-Style-Text-Input.css"%}">
    <link rel="stylesheet" href="{% static "css/Header-Blue.css"%}">
    <link rel="stylesheet" href="{% static "css/Header-Dark.css"%}">
    <link rel="stylesheet" href="{% static "css/Highlight-Phone-1.css"%}">
    <link rel="stylesheet" href="{% static "css/Highlight-Phone.css"%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="{% static "css/Login-Form-Dark.css"%}">
    <link rel="stylesheet" href="{% static "css/Navigation-with-Button.css"%}">
    <link rel="stylesheet" href="{% static "css/News-Cards.css"%}">
    <link rel="stylesheet" href="{% static "css/Paralax-Box.css"%}">
    <link rel="stylesheet" href="{% static "css/Projects-Horizontal.css"%}">
    <link rel="stylesheet" href="{% static "css/Registration-Form-with-Photo.css"%}">
    <link rel="stylesheet" href="{% static "css/styles.css"%}">
    <link rel="stylesheet" href="{% static "css/Team-Boxed.css"%}">
    <link rel="stylesheet" href="{% static "css/Team-Clean.css"%}">
    <link rel="stylesheet" href="{% static "css/Team-Grid.css"%}">
</head>

<body>
    <section></section>
    <div id="nvbar_heading">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="#" style="font-family: 'Open Sans', sans-serif;">POISENSE</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="untitled-2.html">Sense an ingredient</a></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Test My Knowledge</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Create Profile</a></li>
                    </ul></div>
    </div>
    </nav>
    </div>
    <div class="highlight-phone" style="background-color: rgb(254,69,69);">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">
                        <h2 class="flash animated" style="font-family: 'Open Sans', sans-serif;">HAZARD</h2>
                        <h2 data-aos="fade-down" data-aos-duration="300" data-aos-delay="400" style="font-family: 'Open Sans', sans-serif;">Acetone</h2>
                        <p data-aos="fade-down" data-aos-duration="300" data-aos-delay="900" style="font-family: 'Open Sans', sans-serif;color: rgb(0,0,0);"><br>Acetone, or propanone, is an organic compound with the formula (CH₃)₂CO. It is the simplest and smallest ketone. It is a colorless, volatile, flammable liquid with a characteristic odor.&nbsp;<br><br></p>
                    </div>
                </div>
                <div class="col-sm-4" style="margin: 0;">
                    <div class="d-none d-md-block iphone-mockup" style="height: 260px;width: 260px;"><img data-aos="fade" data-aos-duration="300" data-aos-delay="400" src="{% static "img/Warning.png"%}" style="width: 260px;height: 260px;">
                        <div class="text-center"><strong class="text-center" data-aos="fade" data-aos-duration="300" data-aos-delay="400">WARNING</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">GHS Classification</h2>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><img src="{% static "img/GHS07 Exclamation Mark.png"%}" style="width: 200px;">
                        <h3 class="name">Slightly Toxic</h3>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><img src="{% static "img/GHS02 Flame.png"%}" style="width: 200px;">
                        <h3 class="name">Flammable</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-family: 'Open Sans', sans-serif;">Effects</h2>
            </div>
            <div class="row d-xl-flex justify-content-xl-center people" data-aos="fade-up" data-aos-duration="300">
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="{% static "img/Breathing Problem.svg"%}">
                    <h3 class="name" style="font-family: 'Open Sans', sans-serif;">Inhalation</h3>
                    <p class="description" style="font-family: 'Open Sans', sans-serif;"><br>Toxic if swallowed.&nbsp;</p>
                    <p class="description" style="font-family: 'Open Sans', sans-serif;">May cause allergic or asthma symptoms if inhaled.</p>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="{% static "img/Skin.svg"%}">
                    <h3 class="name" style="font-family: 'Open Sans', sans-serif;">Skin Contact</h3>
                    <p class="description" style="font-family: 'Open Sans', sans-serif;">Toxic in contact with skin.</p>
                    <p class="description" style="font-family: 'Open Sans', sans-serif;">Causes severe skin burns.</p>
                    <p class="description" style="font-family: 'Open Sans', sans-serif;">May cause an allergic skin reaction.</p>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="{% static "img/Eye.svg"%}">
                    <h3 class="name" style="font-family: 'Open Sans', sans-serif;">Eye Contact</h3>
                    <p class="description" style="font-family: 'Open Sans', sans-serif;">Causes serious eye damage.</p>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="{% static "img/open mouth.svg"%}">
                    <h3 class="name" style="font-family: 'Open Sans', sans-serif;">Ingestion</h3>
                    <p class="description" style="font-family: 'Open Sans', sans-serif;">Toxic if swallowed.</p>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="{% static "img/GHS07 Exclamation Mark.png"%}">
                    <h3 class="name" style="font-family: 'Open Sans', sans-serif;">Other Issues</h3>
                    <p class="description" style="font-family: 'Open Sans', sans-serif;">Causes damage to other organs on prolonged and repeated exposure.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Precautions</h2>
            </div>
            <div class="row features" data-aos="fade-up" data-aos-duration="300">
                <div class="col-sm-6 col-lg-4 item"><i class="icon ion-information-circled icon"></i>
                    <h3 class="name">Prevention</h3>
                    <p class="description">Do not pierce or burn ever after use</p>
                    <p class="description" style="margin-top: 8px;">Take precautionary measures against static discharge</p>
                    <p class="description" style="margin-top: 8px;">Keep only in original container</p>
                    <p class="description" style="margin-top: 8px;">Handle under inert gas</p>
                    <p class="description" style="margin-top: 8px;">In case of inadequate ventilation wear respiratory protection.<br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="icon ion-medkit icon"></i>
                    <h3 class="name">Response</h3>
                    <p class="description" style="margin: 8px;margin-top: 0;">If on skin or hair, get medical attention<br></p>
                    <p class="description" style="margin: 8px;margin-top: 0;">If inhaled remove the person to fresh air<br></p>
                    <p class="description" style="margin: 8px;margin-top: 0;">IF IN EYES: Rinse cautiously with water for several minutes. Remove contact lenses if present and easy to do - continue rinsing.<br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="icon ion-ios-box icon"></i>
                    <h3 class="name">Storage</h3>
                    <p class="description">Protect from sun-light. Store in a well ventilated place<br></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Sense an ingredient</a></li>
                            <li><a href="#">Test my knowledge</a></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">What Poisense do?</a></li>
                            <li><a href="#">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Feedbacks?</h3>
                        <p>The sole purpose of the application is to keep your household safe from harmful products. Feedback could help us to make close the gap to the above objective. Feel free to message us in the social media links.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="https://www.instagram.com/poisense.tech/"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Poisense © 2020</p>
            </div>
        </footer>
    </div>
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>
    <script src="{% static "js/bs-init.js"%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="{% static "js/3D_CSS_PROGRESS_BAR_BY_REDSTAPLER.js"%}"></script>
    <script src="{% static "js/Paralax-Box.js"%}"></script>
</body>

</html>
