<script type="text/javascript">
  function passwordCheck(){
      var password = prompt("Please enter the password to enter poisense's website");
      if (password==="techjira"){
          window.location="home/";
      } else{
          while(password !=="techjira"){
              password = prompt("Retry the password to enter poisense's website.");
          }
          window.location="home/";
      }
  }
  window.onload=passwordCheck;
</script>

<script type="text/javascript" src="password.js"></script>

<body onload="passwordCheck()">
</body>
