<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Feedback UI</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{% static "fonts/font-awesome.min.css"%}">
    <link rel="stylesheet" href="{% static "fonts/ionicons.min.css"%}">
    <link rel="stylesheet" href="{% static "css/-Team-Rotating-Cards-BS4-.css"%}">
    <link rel="stylesheet" href="{% static "css/3D_CSS_PROGRESS_BAR_BY_REDSTAPLER-1.css"%}">
    <link rel="stylesheet" href="{% static "css/3D_CSS_PROGRESS_BAR_BY_REDSTAPLER.css"%}">
    <link rel="stylesheet" href="{% static "css/best-carousel-slide.css"%}">
    <link rel="stylesheet" href="{% static "css/circle-progress-bar.css"%}">
    <link rel="stylesheet" href="{% static "css/Features-Blue.css"%}">
    <link rel="stylesheet" href="{% static "css/Features-Boxed.css"%}">
    <link rel="stylesheet" href="{% static "css/Features-Clean.css"%}">
    <link rel="stylesheet" href="{% static "css/Footer-Basic.css"%}">
    <link rel="stylesheet" href="{% static "css/Footer-Dark.css"%}">
    <link rel="stylesheet" href="{% static "css/Google-Style-Text-Input.css"%}">
    <link rel="stylesheet" href="{% static "css/Header-Blue.css"%}">
    <link rel="stylesheet" href="{% static "css/Header-Dark.css"%}">
    <link rel="stylesheet" href="{% static "css/Highlight-Phone-1.css"%}">
    <link rel="stylesheet" href="{% static "css/Highlight-Phone.css"%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="{% static "css/Login-Form-Dark.css"%}">
    <link rel="stylesheet" href="{% static "css/Navigation-with-Button.css"%}">
    <link rel="stylesheet" href="{% static "css/News-Cards.css"%}">
    <link rel="stylesheet" href="{% static "css/Paralax-Box.css"%}">
    <link rel="stylesheet" href="{% static "css/Projects-Horizontal.css"%}">
    <link rel="stylesheet" href="{% static "css/Registration-Form-with-Photo.css"%}">
    <link rel="stylesheet" href="{% static "css/styles.css"%}">
    <link rel="stylesheet" href="{% static "css/Team-Boxed.css"%}">
    <link rel="stylesheet" href="{% static "css/Team-Clean.css"%}">
    <link rel="stylesheet" href="{% static "css/Team-Grid.css"%}">
</head>

<body>
  <div id="nvbar_heading-1">
      <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
          <div class="container"><a class="navbar-brand" href="{% url 'homepage' %}" style="font-family: 'Open Sans', sans-serif;"><img src="/static/img/Logo%20Small.png" style="max-width: 138px;max-height: 97px;margin-bottom: -41px;margin-top: -50px;"></a><button data-toggle="collapse" class="navbar-toggler"
                  data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navcol-1">
                  <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'sense' %}" style="font-family: 'Open Sans', sans-serif;margin-top: -6px;">Sense an ingredient</a></li>
                  </ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="tel:131126" style="background-color: rgb(238,79,79);">SOS</a></span></div>
          </div>
      </nav>
  </div>

    <div class="features-boxed" style="background-color: rgba(42, 185, 30, 0.76);height: 356px;">
        <div class="container">
            <div class="intro">
                  <h2 class="text-center" style="color: rgb(255,255,255);margin-bottom: -15px;">NO HAZARD DETECTED</h2>
                <p class="text-center" style="color: rgb(255,255,255);margin-top: 36px;font-size: 20px;">The ingredients detected are not found to be Hazardous</p>
            </div>
            <div class="row justify-content-center pulse animated">
                <div class="col-sm-6 col-md-5 col-lg-4 item"><img class="tada animated" src="/static/img/Check.svg" style="width: 183px;margin-top: 14px;"></div>
            </div>
        </div>
    </div>
    <div class="features-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-family: 'Open Sans', sans-serif;">Sense an Ingredient</h2>
            </div>
            <div class="row d-sm-flex justify-content-sm-center features">
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-camera icon"></i>
                    <h3 class="name" style="font-family: 'Open Sans', sans-serif;">Using Camera</h3>
                    <p class="description" style="font-family: 'Open Sans', sans-serif;">Not sure what to find? Place the product upright with the ingredients visible to capture an image.</p>
                    <form enctype="multipart/form-data" action="{% url 'info' %}" method="POST">
                      {% csrf_token %}
                      {{ uploadform }}
                      <div class="d-block iphone-mockup">
                        <input class="btn btn-primary top-buffer" type="button" style="font-family: 'Open Sans', sans-serif;" value="Click/Upload Image" onclick="document.getElementById('file').click();">
                      </div>
                      <br>
                      <img id="output"/ width="100%" height="100%">
                      <br>
                      <input class="btn btn-primary top-buffer" id="snap" type="submit" style="font-family: 'Open Sans', sans-serif;" value="Submit">
                    </form>
                    </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-info icon"></i>
                    <h3 class="name" style="font-family: 'Open Sans', sans-serif;">Ingredient Input</h3>
                    <p class="description" style="font-family: 'Open Sans', sans-serif;">Know what the ingredient is? Simply search using the text box given below.</p>
                    <form enctype="multipart/form-data" action="{% url 'info' %}" method="POST">
                    {% csrf_token %}
                    {{ input_form }}
                    <button class="btn btn-primary top-buffer" id="ingredient_search" type="submit" style="font-family: 'Open Sans', sans-serif;" onclick="document.getElementById('ingredient_input').click();">Search</button>
                    </form>
                </div>
        </div>
    </div>
    </div>
    <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row d-sm-flex justify-content-sm-center">
                  <div class="col-sm-6 col-md-3 item">
                      <h3>Services</h3>
                      <ul>
                          <li style="font-family: 'Open Sans', sans-serif;"><a href="{% url 'sense' %}">Sense an ingredient</a></li>
                          <li></li>
                          <li></li>
                      </ul>
                  </div>
                  <div class="col-md-6 item text">
                      <h3 style="font-family: 'Open Sans', sans-serif;">Feedbacks?</h3>
                      <p style="font-family: 'Open Sans', sans-serif;">The sole purpose of the application is to keep your household safe from harmful products. Feedback could help us to make close the gap to the above objective. Feel free to message us in the social media links.</p>
                  </div>
                  <div class="col item social">
                    <a href="#"><i class="icon ion-social-facebook"></i></a>
                    <a href="#"><i class="icon ion-social-twitter"></i></a>
                    <a href="#"><i class="icon ion-social-instagram"></i></a>
                  </div>
              </div>
              <p class="copyright" style="font-family: 'Open Sans', sans-serif;">Poisense © 2020</p>
          </div>
      </footer>
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>
    <script src="{% static "js/bs-init.js"%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="{% static "js/3D_CSS_PROGRESS_BAR_BY_REDSTAPLER.js"%}"></script>
    <script src="{% static "js/Paralax-Box.js"%}"></script>
    <script src="{% static "js/Header-Blue--Sticky-Header--Smooth-Scroll.js"%}"></script>
    <script src="{% static "js/Header-Blue--Sticky-Header--Smooth-Scroll-1.js"%}"></script>
</body>

</html>
